
.searh-container {
  margin-top: 175px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 17px;
}

.searh-container input{
  font-size: 27px;
}

.wineitem-global-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .form-global-container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }