


.wineitem-global-container {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .form-global-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }